<!--
review
-->
<div class="card" style="width: 100%">
  <div class="card-body">
    <div class="top-header">
      <h1>{{ticket.price + ' P'}}</h1>
      <div class="company">
        <img src="{{'assets/images/'+ticket.companyInfo?.logo}}" alt="">
      </div>
    </div>
    <div class="segments-container">
      <div class="segment" *ngFor="let segment of ticket.segmentsInfo">
        <div class="col-item destinations">
          <h5 class="grey-label">{{segment.origin}}-{{segment.destination}}</h5>
          <h5>{{segment.convertedStartDate}}-{{segment.convertedEndDate}}</h5>
        </div>
        <div class="col-item duration">
          <h5 class="grey-label">В Пути</h5>
          <h5>{{segment.convertedDuration}}</h5>
        </div>
        <div class="col-item stops">
          <h5 class="grey-label">{{segment.stops.length ? segment.stops.length + ' пересадки' : ''}}</h5>
          {{segment.stops}}
        </div>
      </div>
    </div>
  </div>
</div>
